
.logo {
  width: 140px;
  height: 60px;
  margin-top: 32px;
  margin-left: 50px;
  margin-right: 20px;
  float: left;
}

.nav {
  margin-top: 20px;
}

.search-box {
  position: absolute;
  top: 3.83%;
  left: 72%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.search-box:hover > .search-txt {
  width: 200px;
  padding: 0 6px;
}

.active {
  font-weight: 600;
}


.search-btn {
  color: white;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3%;
}

.search-txt {
  border: solid white 1px;
  background: black;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: .4s;
  width: 0;
}

a {
  padding: 0 2% 0 0;
  color: #e5e5e5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a{
  display: block;
  font-weight: none;
  color: red;
  text-align: center;
  padding: 13px;
  text-decoration: none;
  letter-spacing: 1px;
}

.fas {
  color: #000;
}

.fa-heart {
  color: red;
}
