<main>
<div class="movies">
    <h3 class="title">Comedy  &nbsp; &gt;</h3>
  <div class="row">

    <ul id="movies1" >
        <li *ngFor="let movie of filteredMovies">
            <moviecard-app *ngIf="movie?.genre=='Comedy'" [genre]="movie?.genre" [description]="movie?.description" [releaseDate]="movie?.releaseDate" [rating]='movie?.rating' [imgUrl]="movie?.imgUrl" [movieName]="movie?.name"></moviecard-app>
        </li>

    </ul>
  </div>
</div>

<div class="movies2">
    <h3 class="title">Drama  &nbsp; &gt;</h3>
  <div class="row">
    <ul id="movies1">
      <li *ngFor="let movie of filteredMovies">
        <moviecard-app  *ngIf="movie?.genre=='Drama'" [genre]="movie?.genre" [description]="movie?.description" [releaseDate]="movie?.releaseDate" [rating]='movie?.rating' [imgUrl]="movie?.imgUrl" [movieName]="movie?.name"></moviecard-app>
    </li>
    </ul>
  </div>
</div>

<div class="movies3">
    <h3 class="title">Action &nbsp; &gt;</h3>
  <div class="row">
    <ul id="movies1">
      <li *ngFor="let movie of filteredMovies">
        <moviecard-app  *ngIf="movie?.genre=='Action'" [genre]="movie?.genre" [description]="movie?.description" [releaseDate]="movie?.releaseDate" [rating]='movie?.rating' [imgUrl]="movie?.imgUrl" [movieName]="movie?.name"></moviecard-app>
    </li>
    </ul>
  </div>
</div>

<div class="movies3">
  <div class="row">
    <ul id="movies1" class="actors">
      <li><img id="actor1" src="../../assets/images/actor-1.png" hspace="2" alt=""></li>
      <li><img id="actor2" src="../../assets/images/actor-2.png" hspace="2" alt=""></li>
      <li ><img id="actor3" src="../../assets/images/actor-3.png" hspace="2" alt=""></li>
      <li ><img id="actor4" src="../../assets/images/actor-4.png" hspace="2" alt=""></li>
      <li ><img id="actor4" src="../../assets/images/actor-5.png" hspace="2" alt=""></li>
    </ul>
  </div>
</div>
<div class="movies3">
  <h3 class="title">Monsters &nbsp; &gt;</h3>
<div class="row">
  <ul id="movies1">
    <li *ngFor="let movie of filteredMovies">
      <moviecard-app  *ngIf="movie?.genre=='Monsters'" [genre]="movie?.genre" [description]="movie?.description" [releaseDate]="movie?.releaseDate" [rating]='movie?.rating' [imgUrl]="movie?.imgUrl" [movieName]="movie?.name"></moviecard-app>
  </li>
  </ul>
</div>
</div>
</main>




