<main>
<div class="movies">
    <h3 class="title">Tv Shows  &nbsp; &gt;</h3>
  <div class="row">

    <ul id="movies1" >
        <li *ngFor="let movie of movies">
            <moviecard-app [imgUrl]="movie.imgUrl" [movieName]="movie.name"></moviecard-app>
        </li>

    </ul>
  </div>
</div>

<div class="movies2">
    <h3 class="title">Comedy  &nbsp; &gt;</h3>
  <div class="row">
    <ul id="movies1">
        <li>
            <div class="dropdown">
                <img src="../../assets/images/movies-6.png" alt="Cinque Terre" hspace="2">
                <div class="dropdown-content">
                <img src="../../assets/images/movies-6.png" alt="Cinque Terre" width="350" height="200">
                <div ><a href="">Add To Favourite &nbsp;<i class="fas fa-heart"></i></a></div>
                </div>
              </div>
        </li>
        <li>
            <div class="dropdown">
                <img src="../../assets/images/movies-7.png" alt="Cinque Terre" hspace="2">
                <div class="dropdown-content">
                <img src="../../assets/images/movies-7.png" alt="Cinque Terre" width="300" height="200">
                <div class="desc">Add To Favourite &nbsp;<a href=""><i class="fas fa-heart"></i></a></div>
                </div>
              </div>
        </li>
        <li>
            <div class="dropdown">
                <img src="../../assets/images/movies-8.png" alt="Cinque Terre" hspace='2'>
                <div class="dropdown-content">
                <img src="../../assets/images/movies-8.png" alt="Cinque Terre" width="300" height="200">
                <div class="desc">Add To Favourite &nbsp;<a href=""><i class="fas fa-heart"></i></a></div>
                </div>
              </div>
        </li>
        <li>
            <div class="dropdown">
                <img src="../../assets/images/movies-9.png" alt="Cinque Terre" hspace="2">
                <div class="dropdown-content">
                <img src="../../assets/images/movies-9.png" alt="Cinque Terre" width="300" height="200">
                <div class="desc">Add To Favourite &nbsp;<a href=""><i class="fas fa-heart"></i></a></div>
                </div>
              </div>
        </li>
        <li>
            <div class="dropdown">
                <img src="../../assets/images/movies-10.png" alt="Cinque Terre" hspace="2">
                <div class="dropdown-content">
                <img src="../../assets/images/movies-10.png" alt="Cinque Terre" width="300" height="200">
                <div class="desc">Add To Favourite &nbsp;<a href=""><i class="fas fa-heart"></i></a></div>
                </div>
              </div>
        </li>
    </ul>
  </div>
</div>

<div class="movies3">
    <h3 class="title">Action &nbsp; &gt;</h3>
  <div class="row">
    <ul id="movies1">
        <li>
            <div class="dropdown">
                <img src="../../assets/images/movies-11.png" alt="Cinque Terre" hspace="2">
                <div class="dropdown-content">
                <img src="../../assets/images/movies-11.png" alt="Cinque Terre" width="300" height="200">
                <div class="desc">Add To Favourite &nbsp;<a><i class="fas fa-heart"></i></a></div>
                </div>
              </div>
        </li>
        <li>
            <div class="dropdown">
                <img src="../../assets/images/movies-12.png" alt="Cinque Terre" hspace="2">
                <div class="dropdown-content">
                <img src="../../assets/images/movies-12.png" alt="Cinque Terre" width="300" height="200">
                <div class="desc">Add To Favourite &nbsp;<a><i class="fas fa-heart"></i></a></div>
                </div>
              </div>
            </li>
       <li>
          <div class="dropdown">
              <img src="../../assets/images/movies-13.png" alt="Cinque Terre" hspace="2">
              <div class="dropdown-content">
              <img src="../../assets/images/movies-13.png" alt="Cinque Terre" width="300" height="200">
              <div class="desc">Add To Favourite &nbsp;<a><i class="fas fa-heart"></i></a></div>
              </div>
            </div>
      </li>
       <li>
          <div class="dropdown">
              <img src="../../assets/images/movies-14.png" alt="Cinque Terre" hspace="2">
              <div class="dropdown-content">
              <img src="../../assets/images/movies-14.png" alt="Cinque Terre" width="300" height="200">
              <div class="desc">Add To Favourite &nbsp;<a><i class="fas fa-heart"></i></a></div>
              </div>
            </div>
      </li>

      <li>
          <div class="dropdown">
              <img src="../../assets/images/movies-15.png" alt="Cinque Terre" hspace="2">
              <div class="dropdown-content">
              <img src="../../assets/images/movies-15.png" alt="Cinque Terre" width="300" height="200">
              <div class="desc">Add To Favourite &nbsp;<a><i class="fas fa-heart"></i></a></div>
              </div>
            </div>
      </li>
    </ul>
  </div>
</div>

<div class="movies3">
  <div class="row">
    <ul id="movies1" class="actors">
      <li><img id="actor1" src="../../assets/images/actor-1.png" hspace="2" alt=""></li>
      <li><img id="actor2" src="../../assets/images/actor-2.png" hspace="2" alt=""></li>
      <li ><img id="actor3" src="../../assets/images/actor-3.png" hspace="2" alt=""></li>
      <li ><img id="actor4" src="../../assets/images/actor-4.png" hspace="2" alt=""></li>
      <li ><img id="actor4" src="../../assets/images/actor-5.png" hspace="2" alt=""></li>
    </ul>
  </div>
</div>
</main>




